<main class="p-6 flex">
  <div class="flex flex-col w-2/3 h-full max-h-screen overflow-y-scroll">
    <h1 class="font-geist-bold text-3xl">Your Products:</h1>
    <div
      class="flex w-full h-56 pl-0 items-center gap-4 border-b border-gray-200"
    >
      <div class="flex p-0 h-full w-1/3">
        <img
          src="/src/assets/images/194shots_so.png"
          alt="Product{} thumbnail in Shopping cart"
          class="object-cover h-full w-full"
        />
      </div>
      <div class="flex flex-col h-full items-start gap-2 p-2 w-2/3">
        <h2 class="w-56 font-geist-bold text-base line-height-4">
          Product Name
        </h2>
        <p
          class="font-geist text-base line-height-4 text-gray-500 w-full"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          incidunt recusandae nam esse libero debitis? Omnis dolorum minus magni
          alias, illum, pariatur aut quae dolore harum veritatis iusto quaerat
          voluptas.
        </p>
        <div class="flex items-center justify-between w-full">
          <span>$ Price</span>
          <div>
            <li class="pi pi-trash"></li>
            <p-inputNumber
              [(ngModel)]="productAmount"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [min]="0"
              [max]="100"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-full h-56 pl-0 items-center gap-4 border-b border-gray-200"
    >
      <div class="flex p-0 h-full w-1/3">
        <img
          src="/src/assets/images/194shots_so.png"
          alt="Product{} thumbnail in Shopping cart"
          class="object-cover h-full w-full"
        />
      </div>
      <div class="flex flex-col h-full items-start gap-2 p-2 w-2/3">
        <h2 class="w-56 font-geist-bold text-base line-height-4">
          Product Name
        </h2>
        <p
          class="font-geist text-base line-height-4 text-gray-500 w-full"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          incidunt recusandae nam esse libero debitis? Omnis dolorum minus magni
          alias, illum, pariatur aut quae dolore harum veritatis iusto quaerat
          voluptas.
        </p>
        <div class="flex items-center justify-between w-full">
          <span>$ Price</span>
          <div>
            <li class="pi pi-trash"></li>
            <p-inputNumber
              [(ngModel)]="productAmount"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [min]="0"
              [max]="100"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-full h-56 pl-0 items-center gap-4 border-b border-gray-200"
    >
      <div class="flex p-0 h-full w-1/3">
        <img
          src="/src/assets/images/194shots_so.png"
          alt="Product{} thumbnail in Shopping cart"
          class="object-cover h-full w-full"
        />
      </div>
      <div class="flex flex-col h-full items-start gap-2 p-2 w-2/3">
        <h2 class="w-56 font-geist-bold text-base line-height-4">
          Product Name
        </h2>
        <p
          class="font-geist text-base line-height-4 text-gray-500 w-full"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          incidunt recusandae nam esse libero debitis? Omnis dolorum minus magni
          alias, illum, pariatur aut quae dolore harum veritatis iusto quaerat
          voluptas.
        </p>
        <div class="flex items-center justify-between w-full">
          <span>$ Price</span>
          <div>
            <li class="pi pi-trash"></li>
            <p-inputNumber
              [(ngModel)]="productAmount"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [min]="0"
              [max]="100"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex w-full h-56 pl-0 items-center gap-4 border-b border-gray-200"
    >
      <div class="flex p-0 h-full w-1/3">
        <img
          src="/src/assets/images/194shots_so.png"
          alt="Product{} thumbnail in Shopping cart"
          class="object-cover h-full w-full"
        />
      </div>
      <div class="flex flex-col h-full items-start gap-2 p-2 w-2/3">
        <h2 class="w-56 font-geist-bold text-base line-height-4">
          Product Name
        </h2>
        <p
          class="font-geist text-base line-height-4 text-gray-500 w-full"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
          incidunt recusandae nam esse libero debitis? Omnis dolorum minus magni
          alias, illum, pariatur aut quae dolore harum veritatis iusto quaerat
          voluptas.
        </p>
        <div class="flex items-center justify-between w-full">
          <span>$ Price</span>
          <div>
            <li class="pi pi-trash"></li>
            <p-inputNumber
              [(ngModel)]="productAmount"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              spinnerMode="horizontal"
              [step]="1"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
              [min]="0"
              [max]="100"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="w-1/3 flex flex-col p-6 gap-4">
    <h2 class="font-geist-bold text-md">Order Sumary</h2>
    <div
      class="flex flex-col gap-2 pb-2 border-b border-gray-400 max-h-[50%] overflow-y-scroll"
    >
      <div class="flex justify-between font-thin text-gray-600">
        <span>xCantidad</span>
        <span>Nombre</span>
        <span>Precio</span>
      </div>
      <div class="flex justify-between font-thin text-gray-600">
        <span>xCantidad</span>
        <span>Nombre</span>
        <span>Precio</span>
      </div>
      <div class="flex justify-between font-thin text-gray-600">
        <span>xCantidad</span>
        <span>Nombre</span>
        <span>Precio</span>
      </div>
      <div class="flex justify-between font-thin text-gray-600">
        <span>xCantidad</span>
        <span>Nombre</span>
        <span>Precio</span>
      </div>
      <div class="flex justify-between font-thin text-gray-600">
        <span>xCantidad</span>
        <span>Nombre</span>
        <span>Precio</span>
      </div>
      <div class="flex justify-between font-thin text-gray-600">
        <span>xCantidad</span>
        <span>Nombre</span>
        <span>Precio</span>
      </div>
    </div>
    <div class="flex flex-col gap-2 pb-2 border-b border-gray-400 mt-20">
      <div class="flex justify-between font-thin text-gray-600">
        <span>Amount</span>
        <span>totalPrice</span>
      </div>
      <div class="flex justify-between font-thin text-gray-600">
        <span>Tax</span>
        <span>$5</span>
      </div>
      <div class="flex justify-between font-geist-bold">
        <span>Order Total</span>
        <span>$20</span>
      </div>
    </div>
    <button
      pRipple
      class="flex items-center justify-center gap-4 w-full select-none rounded-lg bg-sunsetOrange-200 py-3 px-6 text-center align-middle font-geist-bold text-xs font-bold uppercase text-white transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      type="button"
      routerLink="/checkout"
    >
    <li class="pi pi-check-circle"></li>
      Checkout
    </button>
  </aside>
</main>
