<article>
  <div class="min-w-screen min-h-screen flex items-center justify-center">
    <div
      class="w-full border-t border-b border-gray-200 px-5 md:py-8 text-gray-800"
    >
      <div class="w-full max-w-6xl mx-auto">
        <div class="text-center max-w-xl mx-auto">
          <h1 class="text-6xl md:text-7xl font-geist-bold mb-5 bg-gradient-to-r from-blue-500 to-blue-800 bg-clip-text text-transparent" style="text-wrap: balance;">
            Testimonios
          </h1>
          <h3 class="text-xl mb-5 font-light">
            Mira lo que opina la gente de nosotros
          </h3>
          <div class="text-center mb-10">
            <span
              class="inline-block w-1 h-1 rounded-full bg-blue-200 ml-1"
            ></span>
            <span
              class="inline-block w-3 h-1 rounded-full bg-blue-200 ml-1"
            ></span>
            <span
              class="inline-block w-40 h-1 rounded-full bg-blue-200"
            ></span>
            <span
              class="inline-block w-3 h-1 rounded-full bg-blue-200 ml-1"
            ></span>
            <span
              class="inline-block w-1 h-1 rounded-full bg-blue-200 ml-1"
            ></span>
          </div>
        </div>
        <div class="-mx-3 md:flex items-start">
          <div class="px-3 md:w-1/3">
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=1" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Kenzie Edgar.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Explora una variedad de camisetas de alta calidad en este marketplace. Desde diseños elegantes hasta estilos casuales, cada camiseta está confeccionada con materiales cómodos y duraderos para asegurar un uso prolongado y un aspecto impecable. ¡Renueva tu armario con estilo y comodidad!<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=2" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Stevie Tifft.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Encuentra la silla perfecta para cada espacio en este marketplace. Ya sea para tu oficina, sala de estar, comedor o jardín, estas sillas combinan comodidad, estilo y durabilidad. Con una variedad de diseños ergonómicos y materiales de alta calidad, cada silla está diseñada para brindar confort y elegancia a tu entorno.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="px-3 md:w-1/3">
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=3" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Tommie Ewart.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Protege tu piel del sol y disfruta del aire libre con las sombrillas disponibles en este marketplace. Con diseños resistentes y funcionales, estas sombrillas ofrecen sombra y frescura en cualquier lugar, ya sea en la playa, el jardín o el parque. Disfruta de tus momentos al aire libre con estilo y protección.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=4" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Charlie Howse.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Descubre una colección encantadora de peluches en este marketplace. Desde adorables animales hasta personajes de fantasía, cada peluche está diseñado con detalles cuidados para brindar alegría y compañía. Perfectos para regalar a tus seres queridos o para agregar un toque de ternura a tu hogar.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="px-3 md:w-1/3">
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=5" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Nevada Herbertson.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >Mantén tus bebidas favoritas a la temperatura perfecta con los termos disponibles en este marketplace. Con una variedad de tamaños, diseños y características de aislamiento, estos termos son ideales para llevar contigo durante todo el día. Disfruta de bebidas frías o calientes donde quiera que vayas.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
            <div
              class="w-full mx-auto rounded-lg bg-white border border-gray-200 p-5 text-gray-800 font-light mb-6"
            >
              <div class="w-full flex mb-4 items-center">
                <div
                  class="overflow-hidden rounded-full w-10 h-10 bg-gray-50 border border-gray-200"
                >
                  <img src="https://i.pravatar.cc/100?img=6" alt="" />
                </div>
                <div class="flex-grow pl-3">
                  <h6 class="font-bold text-sm uppercase text-gray-600">
                    Kris Stanton.
                  </h6>
                </div>
              </div>
              <div class="w-full">
                <p class="text-sm leading-tight">
                  <span
                    class="text-lg leading-none italic font-bold text-gray-400 mr-1"
                    >"</span
                  >En este marketplace, encontrarás una amplia selección de computadores de última generación. Desde portátiles ultradelgados hasta potentes equipos de escritorio, cada producto está diseñado para brindar un rendimiento excepcional y una experiencia informática sin igual. Encuentra tu compañero tecnológico perfecto aquí.<span
                    class="text-lg leading-none italic font-bold text-gray-400 ml-1"
                    >"</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
