<main class="w-full h-full flex justify-center">
  <section class="w-[13%] hidden md:flex md:flex-col pl-4 lg:flex lg:flex-col">
    <div class="items-start self-stretch flex flex-col w-full mt-20">
      <h2 class="text-2xl">Categorias</h2>
      <div class="flex flex-wrap gap-2 mt-6">
        <button
          *ngFor="let category of categories"
          class="flex bg-[#004BE3] text-white p-2 items-center rounded-full text-xs  uppercase"
          [ngClass]="{
            'hover:bg-[#60F8FF] hover:text-[#004BE3]':
              selectedCategory !== category
          }"
          [class]="selectedCategory === category ? 'selected' : ''"
          (click)="getProductsByCategorySura(category)"
        >
          {{ category }}
        </button>
      </div>
    </div>

    <div
      class="items-start self-stretch flex flex-col w-full mt-14 pl-1 max-md:mt-10"
    >
      <h2 class="text-2xl">Precio</h2>
      <div class="flex flex-col gap-2 mt-4">
        <button *ngFor="let price of prices" class="text-sm text-start hover:text-[#004BE3]"  (click)="filterProductsByPrice(price)">
          {{ price.name }}
        </button>
      </div>
    </div>

    <div
      class="items-start self-stretch flex flex-col w-full mt-48 pl-1 max-md:mt-10"
    >
      <h2 class="text-sm font-light">Soporte</h2>
      <div class="flex flex-col gap-2 mt-4">
        <button *ngFor="let help of helps" class="text-sm text-start hover:text-[#004BE3]">
          {{ help }}
        </button>
      </div>
    </div>
  </section>

  <div class="md:w-[90%] sm:w-full" *ngIf="products.length > 0; else empty">
    <p-dataView
      #dv
      [value]="filteredProducts"
      [paginator]="true"
      [rows]="6"
      layout="grid"
    >
      <ng-template pTemplate="header">
        <div class="flex w-full  flex-row mx-24 ">
          <div class="flex text-4xl basis-2/3 2xl:ml-24 text-black font-bold">
            {{nameTitle}}
          </div>
          <p-dataViewLayoutOptions
            class="bg-transparent mx-11"
          ></p-dataViewLayoutOptions>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem">
        <div
          class="relative flex flex-col w-[95%] rounded-xl bg-white bg-clip-border text-gray-700 shadow-md border border-gray-200 hover:scale-105 transition-all hover:shadow-xl"
        >
          <div class="flex">
            <div
              class="relative mx-2 mt-2 h-52 w-1/3 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700"
            >
              <img
                src="{{ product.image1 }}"
                class="h-full w-full object-cover"
                routerLink="/product/{{ product.name }}"
              />
            </div>
            <div class="p-6 w-1/3">
              <div class="mb-2 flex items-center justify-between">
                <p
                  class="block text-3xl font-semibold leading-relaxed text-black antialiased"
                >
                  {{ product.name }}
                </p>
              </div>
              <p
                class="block font-geist text-sm font-normal leading-normal text-gray-700 antialiased opacity-75 max-w-sm"
              >
                {{ product.description }}
              </p>
            </div>

            <div class="flex flex-col w-1/3 justify-center items-center gap-4">
              <button
                pRipple
                class="flex items-center justify-center gap-x-2 w-1/2 select-none rounded-lg bg-[#004BE3] p-4 text-center align-middle font-geist-bold text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-white"
                type="button"
                (click)="likeProduct(product)"
              >
                <li class="pi pi-heart"></li>
                Add to favorites
              </button>
              <button
                pRipple
                class="flex items-center justify-center gap-x-2 w-1/2 select-none rounded-lg bg-[#E3E829] p-4 text-center align-middle font-geist-bold text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-black"
                type="button"
                (click)="addProduct(product)"
              >
                <li class="pi pi-shopping-cart"></li>
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template let-product pTemplate="gridItem">
        <div
          class="relative flex flex-col rounded-xl bg-[#F4F4F5] bg-clip-border text-black shadow-md border border-gray-200 hover:scale-105 transition-all hover:shadow-xl"
        >
          <div
            class="relative mx-5 mt-4 h-52 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700"
          >
            <img
              src="{{ product.image1 }}"
              class="h-full w-full object-cover cursor-pointer"
              routerLink="/product/{{ product.name }}"
            />
          </div>
          <div class="p-6">
            <div class="mb-2 flex items-center justify-between">
              <p
                class="block text-2xl font-semibold leading-relaxed text-black antialiased"
              >
                {{ product.name }}
              </p>
              <p
                class="block font-geist-bold text-base font-medium leading-relaxed text-blue-gray-900 antialiased"
              ></p>
            </div>
            <p
              class="block text-sm font-normal leading-normal text-black antialiased h-12"
            >
              {{ product.description }}
            </p>
          </div>
          <div class="p-4 pt-0 flex justify-center">
            <div class="basis-1/2 flex items-center">
              <h2 class="font-bold text-2xl text-black">
                $ {{ formatNumber(product.price) }}
              </h2>
            </div>

            <div class="basis-1/2">
              <button
                pRipple
                class="flex w-full select-none rounded-lg items-center bg-[#E3E829] p-2 text-center text-black align-middle text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button"
                
                (click)="addProduct(product)"
              >
                <img
                  class="mx-2"
                  src="../../../../assets/images/shopingCar.svg"
                  alt=""
                />
                <h2>¡Comprar!</h2>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <ng-template #empty>
    <div class="flex items-center text-center border rounded-lg h-80 w-full mt-3">
      <div class="flex flex-col w-full max-w-sm px-4 mx-auto items-center">
        <div
          class="p-3 mx-auto rounded-full"
        >
          <li class="pi pi-search text-xl"></li>
        </div>
        <h1 class="mt-3 text-lg text-black">No se encontraron productos</h1>
        <p class="mt-2 text-gray-500">
          No hay productos disponibles en esta categoria
        </p>          
        <button
          pRipple
          class="flex items-center justify-center gap-x-2 w-1/2 select-none rounded-lg bg-[#E3E829] p-2 text-center align-middle font-geist-bold text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-black mt-3"
          type="button"
          routerLink="/products"
        >
          <li class="pi pi-arrow-left"></li>
          Ver Productos
        </button>         
      </div>
    </div>
  </ng-template>
</main>
