<aside class="w-full h-full flex justify-center">
  <div class="w-[20%] hidden md:flex md:flex-col lg:flex lg:flex-col">
    <div class="items-start self-stretch flex flex-col w-full mt-7 px-5">
      <h2
        class="text-zinc-900 text-base font-medium leading-[150%] uppercase self-stretch w-full -mr-5 font-geist-bold"
      >
        Category
      </h2>
      <div class="flex flex-col justify-center w-full gap-y-2">
        <div
          class="flex items-center justify-between gap-2"
          *ngFor="let category of categories"
        >
          <p-radioButton
            name="category"
            [value]="category"
            [(ngModel)]="selectedCategory"
            [inputId]="category"
            (onClick)="getProductsByCategory(category)"
            class="border border-sunsetOrange-200 rounded-full"
          ></p-radioButton>
          <label
            [for]="category"
            class="text-zinc-900 text-sm font-medium self-stretch max-w-[305px] grow shrink-0 basis-auto"
          >
            {{ category }}
          </label>
        </div>
      </div>
    </div>
    <div
      class="items-start self-stretch flex flex-col w-full mt-12 px-5 max-md:mt-10"
    >
      <h2
        class="text-zinc-900 text-base font-medium leading-[150%] uppercase self-stretch w-full -mr-5 font-geist-bold"
      >
        Price Range
      </h2>

      <div class="flex flex-col justify-center w-full gap-y-4">
        <p-slider
          [(ngModel)]="rangeValues"
          [range]="true"
          class="w-full"
          (onChange)="getProductsBetweenRange(rangeValues[0], rangeValues[1])"
        ></p-slider>
        <div class="flex gap-3 w-full">
          <div class="border border-gray-300 w-1/2 rounded-md p-1">
            Min price: {{ rangeValues[0] }} K
          </div>
          <div class="border border-gray-300 w-1/2 rounded-md p-1">
            Max price: {{ rangeValues[1] }} K
          </div>
        </div>
      </div>

      <div
        class="items-start self-stretch flex grow flex-col -mr-5 mt-4 gap-y-2"
      >
        <div
          class="items-start self-stretch flex justify-between gap-x-2"
          *ngFor="let price of prices"
        >
          <p-radioButton
            name="price"
            [value]="price"
            [(ngModel)]="selectedPrice"
            [inputId]="price.key"
            class="border border-sunsetOrange-200 rounded-full"
            (onClick)="getProductsBetweenPrices(price)"
          ></p-radioButton>
          <label
            [for]="price.key"
            class="text-zinc-900 text-sm font-medium self-stretch max-w-[305px] grow shrink-0 basis-auto"
          >
            {{ price.name }}
          </label>
        </div>
      </div>
      <!-- <span class="bg-red-500 w-max h-10 text-white">Category: {{selectedPrice.key}}</span> -->
    </div>
    <div
      class="items-start self-stretch flex flex-col w-full mt-12 px-5 max-md:mt-10"
    >
      <h2
        class="text-zinc-900 text-base font-medium leading-[150%] uppercase self-stretch w-full -mr-5 font-geist-bold"
      >
        popular Brands
      </h2>
      <div class="items-start self-stretch flex grow flex-col -mr-5 mt-4">
        <div
          *ngFor="let brand of brands"
          class="flex items-center justify-center gap-x-2"
        >
          <p-checkbox
            name="group"
            [value]="brand"
            [(ngModel)]="selectedBrands"
            [inputId]="brand"
            (onChange)="getProductsByBrands()"
          ></p-checkbox>
          <label [for]="brand" class="text-md">{{ brand }}</label>
        </div>
      </div>
    </div>

    <div
      class="justify-center items-center rounded bg-white self-stretch flex w-full grow flex-col mt-6 px-5 py-8 border border-gray-200 shadow-md"
    >
      <a href="#">
        <img
          loading="lazy"
          src="https://th.bing.com/th/id/OIP.S4cHwTWrfd6wpxawknqhGwHaH_?pid=ImgDet&rs=1"
          alt="Product"
          class="aspect-square object-cover object-center w-[180px] overflow-hidden self-center max-w-full"
        />
      </a>
      <div
        class="justify-center items-center self-center flex w-[248px] max-w-full flex-col mt-6"
      >
        <div class="justify-center items-center self-stretch flex flex-col">          
          <h3
            class="text-zinc-900 text-center text-2xl font-semibold leading-[133.333%] mt-2"
          >
            Heavy on Features. <br />
            Light on Price.
          </h3>
        </div>
        <div
          class="justify-center items-start self-center flex w-[166px] max-w-full gap-2 mt-4"
        >
          <span
            class="text-neutral-600 text-sm leading-[142.857%] self-center my-auto"
          >
            Only for:
          </span>
          <span
            class="text-zinc-900 text-center text-base font-semibold items-center bg-amber-200 max-w-full px-3 py-1.5 rounded"
          >
            $299 USD
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-[85%] sm:w-full">
    <p-dataView
      #dv
      [value]="products"
      [paginator]="true"
      [rows]="6"
      layout="grid"
    >
      <ng-template pTemplate="header">
        <div class="flex w-full justify-end">
          <p-dataViewLayoutOptions
            class="bg-transparent"
          ></p-dataViewLayoutOptions>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem">
        <div
          class="relative flex flex-col gap-y-4 w-[95%] rounded-xl bg-white bg-clip-border text-gray-700 shadow-md border border-gray-200 hover:scale-105 transition-all hover:shadow-xl cursor-pointer"
          routerLink="/product/{{ product.name }}"
        >
          <div class="flex">
            <div
              class="relative mx-2 mt-2 h-52 w-52 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700"
            >
              <img
                src="{{product.image1}}"
                class="h-full w-full object-cover"
              />
            </div>
            <div class="p-6 relative">
              <div class="mb-2 flex items-center justify-between">
                <span
                  class="block font-geist-bold font-medium text-2xl leading-relaxed text-blue-gray-900 antialiased"
                >
                  {{ product.name }}
                </span>
              </div>
              <p
                class="block font-geist text-sm font-normal leading-normal text-gray-700 antialiased opacity-75 max-w-sm"
              >
                {{ product.description }}
              </p>              
            </div>
            <span
                class="block font-geist-bold text-2xl font-medium leading-relaxed text-blue-gray-900 antialiased absolute right-8 bottom-28"
              >
              {{ product.price | currency: 'USD' }}
            </span>
          </div>

          <footer class="p-2 py-4 flex gap-2 items-center justify-center">
            <button
              pRipple
              class="flex items-center justify-center gap-x-2 w-1/2 select-none rounded-lg bg-sunsetOrange-200 p-2 text-center align-middle font-geist-bold text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-white"
              type="button"
            >
              <li class="pi pi-heart"></li>
              Add to favorites
            </button>
            <button
              pRipple
              class="flex items-center justify-center gap-x-2 w-1/2 select-none rounded-lg bg-sunsetOrange-200 p-2 text-center align-middle font-geist-bold text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-white"
              type="button"
              (click)="addProduct(product)"
            >
              <li class="pi pi-shopping-cart"></li>
              Add to Cart
            </button>
          </footer>
        </div>
      </ng-template>

      <ng-template let-product pTemplate="gridItem">
        <div
          class="relative flex w-72 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md border border-gray-200
          hover:scale-105 transition-all hover:shadow-xl cursor-pointer"
          routerLink="/product/{{ product.name }}"
        >
          <div
            class="relative mx-2 mt-2 h-52 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700"
          >
            <img
              src="{{ product.image1 }}"
              class="h-full w-full object-cover"
            />
          </div>
          <div class="p-6">
            <div class="mb-2 flex items-center justify-between">
              <p
                class="block font-geist-bold text-base font-medium leading-relaxed text-blue-gray-900 antialiased"
              >
                {{ product.name }}
              </p>
              <p
                class="block font-geist-bold text-base font-medium leading-relaxed text-blue-gray-900 antialiased"
              >
              {{ product.price | currency: 'USD'  }}
              </p>
            </div>
            <p
              class="block font-geist text-sm font-normal leading-normal text-gray-700 antialiased opacity-75"
            >
              {{product.description}}
            </p>
          </div>
          <div class="p-6 pt-0">
            <button
              pRipple
              class="block w-full select-none rounded-lg bg-sunsetOrange-200 py-3 px-6 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              (click)="addProduct(product)"
            >
              <li class="pi pi-shopping-cart"></li>
              Add to Cart
            </button>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</aside>

