<article class="w-screen max-h-screen p-6">
  <h2 class="font-anybody-bold text-4xl mb-4 uppercase">
    Best Sellers & Recommended
  </h2>
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div
        class="relative flex w-72 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
      >
        <div
          class="relative mx-2 mt-2 h-52 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700"
        >
          <img
            src="https://images.unsplash.com/photo-1629367494173-c78a56567877?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=927&amp;q=80"
            class="h-full w-full object-cover"
          />
        </div>
        <div class="p-6">
          <div class="mb-2 flex items-center justify-between">
            <p
              class="block font-anybody-bold text-base font-medium leading-relaxed text-blue-gray-900 antialiased"
            >
              {{ product.name }}
            </p>
            <p
              class="block font-anybody-bold text-base font-medium leading-relaxed text-blue-gray-900 antialiased"
            >
              $95.00
            </p>
          </div>
          <p
            class="block font-anybody-italic text-sm font-normal leading-normal text-gray-700 antialiased opacity-75"
          >
            With plenty of talk and listen time, voice-activated Siri access,
            and an available wireless charging case.
          </p>
        </div>
        <div class="p-6 pt-0">
          <button
            pRipple
            class="block w-full select-none rounded-lg bg-sunsetOrange-200 py-3 px-6 text-center align-middle font-anybody-bold text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <style>
    ::ng-deep .p-carousel-item-active {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
    }
  </style>
</article>
