<article class="w-screen max-h-screen p-6">
  <h2 class="font-geist-bold text-4xl mb-4 uppercase">
    {{title}}
  </h2>
  <p-carousel
    [value]="products"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product pTemplate="item">
      <div
        class="relative flex w-72 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md border border-gray-200
        hover:scale-105 transition-all hover:shadow-xl"
      >                
        <div
          class="relative mx-2 mt-2 h-52 overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700"
        >
          <img
            src="{{ product.image1 }}"
            class="h-full w-full object-cover cursor-pointer"
            (click)="redirectToProduct(product)"
          />
        </div>
        <div class="p-6">
          <div class="mb-2 flex items-center justify-between">
            <p
              class="block font-geist-bold text-base font-medium leading-relaxed text-blue-gray-900 antialiased"
            >
              {{ product.name }}
            </p>
            <p
              class="block font-geist-bold text-base font-medium leading-relaxed text-blue-gray-900 antialiased"
            >
              {{ product.price | currency: 'USD'  }}
            </p>
          </div>
          <p
            class="block font-geist text-sm font-normal leading-normal text-gray-700 antialiased opacity-75"
          >
            {{ product.description }}
          </p>
        </div>
        <div class="p-6 pt-0 flex align-content-center gap-1">
          <button class="backdrop-blur z-10 rounded-full bg-sunsetOrange-100 p-4" (click)="likeProduct(product)">
            <i class="pi pi-heart"></i>
          </button>
          <button
            pRipple
            class="block w-full select-none rounded-lg bg-sunsetOrange-200 py-3 px-6 text-center align-middle font-geist-bold text-xs font-bold uppercase text-white transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            (click)="addProduct(product)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <style>
    ::ng-deep .p-carousel-item-active {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
    }
  </style>
</article>
