<section class="w-screen">
  <p-table
    #dt
    [value]="products"
    [rows]="5"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-col align-items-center justify-content-between">
        <h5 class="m-0">Gestionar Productos</h5>
        <button
          pRipple
          class="w-40 flex items-center justify-center select-none rounded-lg bg-green-500 py-3 px-3 gap-2 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          (click)="newProductDialog = true"
        >
          <i class="pi pi-plus"></i>
          Nuevo Producto
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 15rem">Nombre</th>
        <th>Imagen</th>
        <th>Precio</th>
        <th>Categoria</th>        
        <!-- <th style="min-width: 10rem">Status</th> -->
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr class="border-b">
        <td class="font-geist-bold">{{ product.name }}</td>
        <td><img src="{{ product.image1 }}" class="shadow-md w-20 h-14 rounded-md" /></td>
        <td>{{ product.price | currency : "USD" }}</td>
        <td>{{ product.category }}</td>        
        <td class="flex gap-2">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="rounded-full bg-green-500 p-2 text-white h-8 w-8"
            (click)="editProduct(product)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="rounded-full bg-red-500 p-2 text-white h-8 w-8"
            (click)="deleteProduct(product.idProd)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>

<p-dialog
  [(visible)]="productDialog"
  [style]="{ width: '450px' }"
  header="Product Details"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <img
      src="{{ product.image1 }}"
      class="block m-auto pb-3 rounded-md w-full h-2/3"
      *ngIf="product.image1"
    />
    <div class="field">
      <label for="pName" class="mb-2 text-sm text-start text-grey-900"
        >Name</label
      >      
      <input
        id="pName"
        type="text"
        placeholder="Iphone 13 Pro Max Ultra HD"
        [(ngModel)]="eidtableProduct.name"
        class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
      />
    </div>
    <div class="mb-4">
      <label for="pDesc" class="mb-2 text-sm text-start text-grey-900"
        >Description</label
      >
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="eidtableProduct.description"
        required
        rows="3"
        cols="20"
        class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
      ></textarea>
    </div>

    <div class="mb-4 flex flex-col gap-3">
      <label for="pStock" class="mb-2 text-sm text-start text-grey-900"
        >Inventory Status</label
      >
      <p-inputNumber
        [(ngModel)]="eidtableProduct.stock"
        [showButtons]="true"
        buttonLayout="horizontal"
        id="pStock"
        spinnerMode="horizontal"
        [step]="1"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [min]="0"
        [max]="100"
        class="w-9"
      >
      </p-inputNumber>
    </div>

    <div class="mb-4">
      <span class="mb-2 text-sm text-start text-grey-900">Category</span>
      <div class="flex items-center gap-3" *ngFor="let category of categories">
        <p-radioButton
          name="category"
          [value]="category"
          [(ngModel)]="eidtableProduct.category"
          [inputId]="category"
          class="border border-sunsetOrange-200 rounded-full"
        ></p-radioButton>
        <label
          [for]="category"
          class="text-zinc-900 text-sm font-medium self-stretch max-w-[305px] grow shrink-0 basis-auto"
        >
          {{ category }}
        </label>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="price">Price</label>
        <p-inputNumber
          id="price"
          [(ngModel)]="eidtableProduct.price"
          mode="currency"
          currency="USD"
          locale="en-US"
          [inputStyle]="{ width: '100%' }"
          class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex gap-2 mt-2 self-end">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="block select-none rounded-lg bg-red-500 py-3 px-6 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="flex items-center justify-center select-none rounded-lg bg-green-500 py-3 px-6 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        (click)="updateProduct()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- New Product Modal -->
<p-dialog
  [(visible)]="newProductDialog"
  [style]="{ width: '450px' }"
  header="Añadir Producto"
  [modal]="true"
>
  <ng-template pTemplate="content">
    <div class="grid grid-cols-1 space-y-2">
      <label class="text-sm font-bold text-gray-500 tracking-wide"
        >Sube 4 imagenes del producto</label
      >
      <div class="flex items-center justify-center w-full">
        <label
          class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center"
        >
          <div
            class="h-full w-full text-center flex flex-col justify-center items-center"
          >
            <div class="flex flex-auto max-h-48 w-2/5 mx-auto -mt-10">
              <img
                class="has-mask h-36 object-center"
                src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
                alt="freepik image"
              />
            </div>
            <button
              class="pointer-none text-gray-500"
              (click)="pImagesInput.click()"
            >
              <span class="text-blue-600 hover:underline"
                >Seleccionar desde tu computadora</span
              >
            </button>
          </div>
          <input
            type="file"
            class="hidden"
            accept="image/*"
            multiple
            #pImagesInput
            (change)="handleFileInputChange($event)"
          />
        </label>
      </div>
    </div>
    <div class="flex gap-2 flex-wrap my-2">
      <ng-container *ngFor="let thum of imagesThumbnails">
        <img class="w-24 h-24 rounded-md" [src]="thum" alt="Profile image" />
      </ng-container>
    </div>
    <button
      pButton
      pRipple
      label="Confirmar imagenes"
      icon="pi pi-check"
      class="flex items-center justify-center select-none rounded-lg bg-green-500 py-3 px-6 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      (click)="confirmImages()"
    ></button>
    <div class="field">
      <label for="npName" class="mb-2 text-sm text-start text-grey-900"
        >Nombre</label
      >
      <input
        id="npName"
        type="text"
        placeholder="Iphone 13 Pro Max Ultra HD"
        [(ngModel)]="newProduct.name"
        class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
      />
    </div>
    <div class="field">
      <label for="npBrand" class="mb-2 text-sm text-start text-grey-900"
        >Marca</label
      >
      <input
        id="npBrand"
        type="text"
        placeholder="Huawei"
        [(ngModel)]="newProduct.brand"
        class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
      />
    </div>
    <div class="mb-4">
      <label for="npDesc" class="mb-2 text-sm text-start text-grey-900"
        >Descripción</label
      >
      <textarea
        id="npDesc"
        pInputTextarea
        [(ngModel)]="newProduct.description"
        required
        rows="3"
        cols="20"
        class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
      ></textarea>
    </div>

    <div class="mb-4 flex flex-col gap-3">
      <label for="npStock" class="mb-2 text-sm text-start text-grey-900"
        >Stock</label
      >
      <p-inputNumber
        [(ngModel)]="newProduct.stock"
        [showButtons]="true"
        buttonLayout="horizontal"
        id="npStock"
        spinnerMode="horizontal"
        [step]="1"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [min]="0"
        [max]="100"
        class="w-9"
      >
      </p-inputNumber>
    </div>

    <div class="mb-4">
      <span class="mb-2 text-sm text-start text-grey-900">Categorias</span>
      <div class="flex items-center gap-3" *ngFor="let category of categories">
        <p-radioButton
          name="category"
          [value]="category.value"
          [(ngModel)]="newProduct.category"
          [inputId]="category.value"
          class="border border-sunsetOrange-200 rounded-full"
        ></p-radioButton>
        <label
          [for]="category.value"
          class="text-zinc-900 text-sm font-medium self-stretch max-w-[305px] grow shrink-0 basis-auto"
        >
          {{ category.name }}
        </label>
      </div>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="npPrice">Precio</label>
        <p-inputNumber
          id="npPrice"
          [(ngModel)]="newProduct.price"
          mode="currency"
          currency="USD"
          locale="en-US"
          [inputStyle]="{ width: '100%' }"
          class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
        ></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="flex gap-2 mt-2 self-end">
      <button
        pButton
        pRipple
        label="Cancel"
        icon="pi pi-times"
        class="block select-none rounded-lg bg-red-500 py-3 px-6 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"      
        (click)="newProductDialog = false"
      ></button>
      <button
        pButton
        pRipple
        label="Save"
        icon="pi pi-check"
        class="flex items-center justify-center select-none rounded-lg bg-green-500 py-3 px-6 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        (click)="saveProduct()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
