<section class="flex rounded-lg sm:flex-col lg:flex-row">
  <div class="lg:w-1/2 sm:w-full h-max z-10 pt-9">
    <div class="relative px-6">
      <h1 class="font-anybody-bold lg:text-9xl overflow-visible text-[#0E4931]">
        EFFORTLESS ELEGANCE
      </h1>
      <div
        class="rounded-full w-32 h-10 bg-[#F54180] flex items-center justify-center absolute bottom-2/3 right-0 z-10 gap-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-plant-2"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M2 9a10 10 0 1 0 20 0"></path>
          <path d="M12 19a10 10 0 0 1 10 -10"></path>
          <path d="M2 9a10 10 0 0 1 10 10"></path>
          <path d="M12 4a9.7 9.7 0 0 1 2.99 7.5"></path>
          <path d="M9.01 11.5a9.7 9.7 0 0 1 2.99 -7.5"></path>
        </svg>
        <span class="font-anybody-italic font-semibold">Eco-friendly</span>
      </div>
      <div
        class="rounded-full w-32 h-10 bg-[#F7B750] flex items-center justify-center absolute top-2/4 left-0 z-10 gap-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-down-left"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M17 7l-10 10"></path>
          <path d="M16 17l-9 0l0 -9"></path>
        </svg>
        <span class="font-anybody-italic font-semibold">e-waste</span>
      </div>
    </div>
    <div class="flex gap-3 relative mt-5 overflow-visible px-6">
      <div
        class="rounded-full w-[140px] h-[140px] bg-sunsetOrange-200 flex justify-center items-center z-[10]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-up-right"
          width="50%"
          height="50%"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M17 7l-10 10"></path>
          <path d="M8 7l9 0l0 9"></path>
        </svg>
      </div>
      <div
        class="w-full h-[140px] rounded-full flex items-center justify-center px-6 py-4 bg-sunsetOrange-100 gap-2"
      >
        <span class="text-7xl text-sunsetOrange-200 font-anybody-bold">
          2,9K+
        </span>
        <div>
          <h6 class="font-anybody-bold">Customer Reviews</h6>
          <p class="font-anybody-italic font-normal">
            Experienced a product service firsthand and they serve as a
            cornerstone of informed decision-making in today's
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="lg:w-1/2 sm:w-full h-[100vh] bg-green-200 z-0 relative">
    <img
      src="/src/assets/images/home-bg.png"
      alt=""
      class="absolute bottom-0 h-[100%]"
    />
    <div
      class="bg-gray-200 h-60 w-72 absolute right-3 bottom-3 flex flex-col items-center justify-center p-4 opacity-90"
    >
      <p class="font-anybody-italic font-normal">
        Discover the best electronic devices at the best price on our online
        store. Smartphones, tablets, laptops and more from the top brands.
      </p>
      <div
        class="w-[70px] h-[70px] bg-green-600 flex justify-center items-center z-[10] absolute bottom-0 right-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-up-right"
          width="50%"
          height="50%"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M17 7l-10 10"></path>
          <path d="M8 7l9 0l0 9"></path>
        </svg>
      </div>
    </div>

    <div class="flex lg:absolute top-4 right-4 gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-sparkles"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z"
        ></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-sparkles"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z"
        ></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-sparkles"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path
          d="M16 18a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm0 -12a2 2 0 0 1 2 2a2 2 0 0 1 2 -2a2 2 0 0 1 -2 -2a2 2 0 0 1 -2 2zm-7 12a6 6 0 0 1 6 -6a6 6 0 0 1 -6 -6a6 6 0 0 1 -6 6a6 6 0 0 1 6 6z"
        ></path>
      </svg>
    </div>
    <div
      class="flex flex-col lg:absolute gap-2 items-center justify-center max-w-[200px] top-32 left-14"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-home-eco"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M20 11l-8 -8l-9 9h2v7a2 2 0 0 0 2 2h5"></path>
        <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.325 0 .631 .077 .902 .215"></path>
        <path d="M16 22s0 -2 3 -4"></path>
        <path d="M19 21a3 3 0 0 1 0 -6h3v3a3 3 0 0 1 -3 3z"></path>
      </svg>

      <span class="font-anybody-italic text-xs"
        >SENSE OF POISE, GOOD MANNERS, AND A GRACEFUL PRESENCE</span
      >
    </div>
  </div>
</section>
