<section
  class="flex rounded-lg sm:flex-col lg:flex-row bg-gradient-to-r from-[#004BE3] to-[#001B66] h-full w-[90%] bg-cover m-auto pt-9 justify-between"
>
  <div class="flex items-end">
    <img src="/src/assets/images/tigre-sura.png" alt="Tigre Sura" />
  </div>
  <div class="flex flex-col max-w-sm justify-around items-center">
    <h1
      class="font-geist-bold text-7xl bg-gradient-to-r from-slate-50 to-gray-300 bg-clip-text text-transparent uppercase text-center"
      style="text-wrap: balance"
    >
    SURA MARKETPLACE
    </h1>
    <p class="text-white text-xl text-center">Adquiere los productos de forma <span class="font-bold underline">Ágil y sencilla</span></p>
    <button
      pRipple
      class="flex items-center justify-center gap-x-2 w-28 select-none rounded-lg bg-[#E3E829] p-2 text-center align-middle font-geist-bold text-xs font-bold uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-white"
      type="button"
      routerLink="/products"
    >      
      Ver productos
    </button>
  </div>
  <div  class="flex flex-col max-w-sm justify-around items-center">
    <img src="/src/assets/images/macbook.png" alt="macbook" width="60%" class="rotate-12"/>
    <img src="/src/assets/images/ropa.png" alt="macbook" width="60%" class="-rotate-12"/>
    <img src="/src/assets/images/peluche.png" alt="macbook" width="60%"/>
  </div>
</section>
