<div class="flex-grow text-gray-800">  
  <main class="p-6 sm:p-10 space-y-6">
    <div
      class="flex flex-col space-y-6 md:space-y-0 md:flex-row justify-between"
    >
      <div class="mr-6">
        <h1 class="text-4xl font-semibold mb-2">NuwaRecycle</h1>
        <h2 class="text-gray-600 ml-0.5">ADMINISTRATOR DASHBOARD</h2>
      </div>      
    </div>
    <section class="flex flex-wrap gap-6">
      <div class="flex items-centern p-8 bg-white shadow-md rounded-lg border w-max">
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-purple-600 bg-purple-100 rounded-full mr-6"
        >
          <i class="pi pi-users text-2xl"></i>
        </div>
        <div>
          <span class="block text-2xl font-bold">62</span>
          <span class="block text-gray-500">Users</span>
        </div>
      </div>
      <div class="flex items-center p-8 bg-white shadow-md rounded-lg border w-max">
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-green-600 bg-green-100 rounded-full mr-6"
        >
          <i class="pi pi-chart-line text-2xl"></i>
        </div>
        <div>
          <span class="block text-2xl font-bold">20</span>
          <span class="block text-gray-500">Sales</span>
        </div>
      </div>
      
      <div class="flex items-center p-8 bg-white shadow-md rounded-lg border w-max">
        <div
          class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16 text-blue-600 bg-blue-100 rounded-full mr-6"
        >
          <i class="pi pi-slack text-2xl"></i>
        </div>
        <div>
          <span class="block text-2xl font-bold">83</span>
          <span class="block text-gray-500">Products</span>
        </div>
      </div>
    </section>
   
    <app-products-table></app-products-table>
    <app-users-table></app-users-table>
      
  </main>
</div>
