<main class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
  <section class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-xl text-gray-600 mb-6">
        Facturación
      </h2>
      <form
        class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6"
        [formGroup]="personalInfo"
        (Submit)="submit()"
      >
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-medium text-lg">Información Personal</p>
            <p>Por favor, llene todos los campos</p>
          </div>

          <div class="lg:col-span-2">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-4">

              <div class="md:col-span-2">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                  value=""
                  required
                  formControlName="name"
                />
                <ng-container
                  *ngIf="personalInfo.get('name')?.errors?.['minlength']"
                >
                  <span class="text-red-400"
                    >El nombre debe tener al menos 3 caracteres.</span
                  >
                </ng-container>
                <ng-container
                  *ngIf="personalInfo.get('name')?.errors?.['required']"
                >
                  <span class="text-red-400">El nombre es requerido.</span>
                </ng-container>
              </div>

              <div class="md:col-span-2">
                <label for="lastName">Apellido</label>
                <input
                  type="text"
                  name="lastName"
                  id="lastName"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                  value=""
                  required
                  formControlName="lastName"
                />
                <ng-container
                  *ngIf="personalInfo.get('lastName')?.errors?.['minlength']"
                >
                  <span class="text-red-400"
                    >El apellido debe tener al menos 3 caracteres.</span
                  >
                </ng-container>
                <ng-container
                  *ngIf="personalInfo.get('lastName')?.errors?.['required']"
                >
                  <span class="text-red-400">El apellido es requerido.</span>
                </ng-container>
              </div>

              <div class="md:col-span-2">
                <label for="cellphone">Telefono</label>
                <input
                  type="text"
                  name="cellphone"
                  id="cellphone"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                  value=""
                  required
                  formControlName="cellphone"
                />
                <ng-container
                  *ngIf="personalInfo.get('cellphone')?.errors?.['minlength']"
                >
                  <span class="text-red-400"
                    >El telefono debe tener al menos 10 caracteres.</span
                  >
                </ng-container>
                <ng-container
                  *ngIf="personalInfo.get('cellphone')?.errors?.['required']"
                >
                  <span class="text-red-400">El telefono es requerido.</span>
                </ng-container>
              </div>

              <div class="md:col-span-2">
                <label for="email">Correo electronico</label>
                <input
                  type="text"
                  name="email"
                  id="email"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                  value=""
                  required
                  formControlName="email"
                />
                <ng-container
                  *ngIf="personalInfo.get('email')?.errors?.['email']"
                >
                  <span class="text-red-400"
                    >Ingrese un correo valido</span
                  >
                </ng-container>
                <ng-container
                  *ngIf="personalInfo.get('email')?.errors?.['required']"
                >
                  <span class="text-red-400">El correo es requerido.</span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </form>

      <form
        class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6"
        [formGroup]="shipInfo"
        (Submit)="submit()"
      >
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-medium text-lg">Información de Envio</p>
            <p>Por favor, llene todos los campos</p>
          </div>

          <div class="lg:col-span-2">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-4">
              
              <div class="md:col-span-2">
                <label class="block" for="shipMethod">Tipo de envio</label>
                <p-dropdown
                  formControlName="selectedshipMethod"
                  [options]="shipMethods"
                  optionLabel="name"
                  placeholder="Selecione un medio de envio "
                  [style]="{'width':'100%'}"
                ></p-dropdown>
              </div>
              
              <div class="md:col-span-2">
                <label class="block" for="sucursal">Sucursal</label>
                <p-dropdown
                  formControlName="selectedSucursal"
                  [options]="sucursales"
                  optionLabel="name"
                  placeholder="Selecione una sucursal "
                  [style]="{'width':'100%'}"
                ></p-dropdown>
              </div>
              

              <div class="md:col-span-2">
                <label class="block" for="country">Ciudad</label>
                <p-dropdown
                  formControlName="selectedCity"
                  [options]="cities"
                  optionLabel="name"
                  placeholder="Selecione una ciudad "
                  [style]="{'width':'100%'}"
                ></p-dropdown>
              </div>
              
              <div class="md:col-span-2">
                <label for="name">Dirección</label>
                <input
                  type="text"
                  name="address"
                  id="address"
                  class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                  value=""
                  required
                  formControlName="address"
                />
                <ng-container
                  *ngIf="shipInfo.get('shipInfo')?.errors?.['minlength']"
                >
                  <span class="text-red-400"
                    >El nombre debe tener al menos 5 caracteres.</span
                  >
                </ng-container>
                <ng-container
                  *ngIf="shipInfo.get('shipInfo')?.errors?.['required']"
                >
                  <span class="text-red-400">La dirección de envio es requerida.</span>
                </ng-container>
              </div>

            </div>
          </div>
        </div>
      </form>
      
      <div class="md:col-span-5 text-right">
        <div class="inline-flex items-end">
          <button
            class="bg-[#E3E829] hover:bg-sunsetOrange-400 text-white font-bold py-2 px-4 rounded"
            *ngIf="personalInfo.valid && shipInfo.valid"
          >
            Continuar
          </button>
        </div>
      </div>
    </div>
  </section>
</main>

<style>
  .ng-invalid.ng-untouched:not(form):not(div) {
    border-left: 5px solid #42a948; /* green */
  }

  .ng-invalid.ng-touched:not(form):not(div) {
    border-left: 5px solid #a94442; /* red */
  }
</style>
