<article>
  <div class="w-screen h-screen p-6 flex gap-4 items-center justify-center">
    <div class="h-full w-2/6 flex flex-col gap-2">
      <div
        class="rounded-lg w-full h-1/6 bg-gradient-nuwa bg-cover flex justify-center items-center shadow-xl gap-0 cursor-pointer hover:scale-95 transition-all ease-in-out"
      >
        <span
          class="font-geist-bold text-2xl bg-gradient-to-r from-slate-50 to-gray-300 bg-clip-text text-transparent uppercase"
          >Explore all categories</span
        >
      </div>
      <div
        class="rounded-lg w-full h-1/3 bg-gradient-black bg-cover flex flex-col items-center justify-center gap-0 shadow-xl relative cursor-pointer hover:scale-95 transition-all ease-in-out"
      >
        <span
          class="font-geist-bold text-2xl bg-gradient-to-r from-slate-50 to-gray-300 bg-clip-text text-transparent absolute top-4 uppercase"
          >Mobile Phones</span
        >
        <img
          src="/src/assets/images/410shots_so-removebg-preview.png"
          alt=""
          width="35%"
          class="rounded-md absolute bottom-0"
        />
      </div>
      <div
        class="rounded-lg w-full h-1/2 bg-gradient-purple bg-cover flex flex-col items-center justify-center gap-0 shadow-xl relative cursor-pointer hover:scale-95 transition-all ease-in-out"
      >
        <img
          src="/src/assets/images/383shots_so.png"
          alt=""
          class="rounded-md"
        />
        <span
          class="font-geist-bold text-2xl bg-gradient-to-r from-slate-50 to-gray-300 bg-clip-text text-transparent uppercase"
          >Laptops</span
        >
      </div>
    </div>
    <div class="h-full w-2/3 flex flex-col items-center gap-2">
      <div
        class="w-full h-2/3 bg-gradient-orange bg-cover rounded-lg flex flex-col items-center justify-center cursor-pointer shadow-xl hover:scale-95 transition-all ease-in-out"
      >
        <img
          src="/src/assets/images/194shots_so.png"
          alt=""
          class="object-contain"
          width="50%"
        />
        <span
          class="font-geist-bold text-2xl bg-gradient-to-r from-slate-50 to-gray-300 bg-clip-text text-transparent uppercase"
          >SmartWatches</span
        >
      </div>
      <div class="w-full h-max flex gap-1">
        <div
          class="w-1/2 h-full bg-gradient-mixed bg-cover rounded-lg flex items-center justify-center p-4 cursor-pointer shadow-xl hover:scale-95 transition-all ease-in-out"
        >
          <img src="/src/assets/images/laptop.svg" alt="" />
        </div>
        <div
          class="w-1/2 h-full bg-gradient-mixed bg-cover rounded-lg flex items-center justify-center p-4 cursor-pointer shadow-xl hover:scale-95 transition-all ease-in-out"
        >
          <img src="/src/assets/images/smartwacth.svg" alt="" />
        </div>
        <div
          class="w-1/2 h-full bg-gradient-mixed bg-cover rounded-lg flex items-center justify-center p-4 cursor-pointer shadow-xl hover:scale-95 transition-all ease-in-out"
        >
          <img src="/src/assets/images/smartphone.svg" alt="" />
        </div>
      </div>
      <div
        class="h-1/3 w-full bg-gradient-nuwa bg-cover rounded-lg flex items-center justify-center cursor-pointer hover:scale-95 transition-all ease-in-out shadow-xl"
      >
        <p
          class="font-geist-bold text-6xl bg-gradient-to-r from-slate-50 to-gray-300 bg-clip-text text-transparent uppercase"
          style="text-wrap: balance"
        >
          See all products
        </p>
      </div>
    </div>
  </div>
</article>
