<section class="card">
  <p-table
    #dt
    [value]="customers"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        List of Customers
        <button
          pRipple
          class="w-40 flex items-center justify-center select-none rounded-lg bg-green-500 py-3 px-3 gap-2 text-center text-white align-middle font-geist-bold text-xs uppercase text-blue-gray-900 transition-all hover:scale-105 focus:scale-105 focus:opacity-[0.85] active:scale-100 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          (click)="newUserDialog = true"
        >
          <i class="pi pi-plus"></i>
          New User
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 14rem">
          <div class="flex justify-between items-center">ID</div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex justify-between items-center">Profile Image</div>
        </th>
        <th style="min-width: 14rem">
          <div class="flex justify-between items-center">Name</div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex justify-between items-center">Email</div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex justify-between items-center">Registration Date</div>
        </th>
        <th style="min-width: 10rem">
          <div class="flex justify-between items-center">Role</div>
        </th>        
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr class="border-b">
        <td>
          {{ customer.id }}
        </td>
        <td>
          <span class="p-column-title">Profile Image</span>
          <img
            src="{{ customer.profileImg }}"
            alt="{{ customer.name }} Profile Image"
            class="w-12 h-12 rounded-md"
          />
        </td>
        <td>
          <span class="ml-1 vertical-align-middle">{{
            customer.username
          }}</span>
        </td>
        <td>
          <span class="p-column-title">Email</span>
          <span class="ml-1 vertical-align-middle">{{ customer.email }}</span>
        </td>
        <td>
          <span class="p-column-title">Date</span>
          {{ customer.registrationDate | date : "dd/MM/yyyy" }}
        </td>
        <td>
          <span class="p-column-title">Role</span>
          {{ customer.rol }}
        </td>       
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No customers found.</td>
      </tr>
    </ng-template>
  </p-table>
</section>


<!-- New user -->
<p-dialog
  header="New User"
  [(visible)]="newUserDialog"
  [modal]="true"
  [style]="{
    width: '40vw',
    overflow: 'hidden',
    padding: '10px',
    height: 'auto'
  }"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '960px': '75vw' }"
>  
    <form
      [formGroup]="newUser"      
      class="flex flex-col w-full h-full p-6 text-center bg-white rounded-3xl"
    >
      <h3 class="mb-3 text-2xl font-extrabold text-dark-grey-900">
        Create a new user
      </h3>
      <div class="w-full h-28">
        <input
          type="file"
          id="imageUpload"
          name="imageUpload"
          accept="image/*"
          class="hidden"          
          (change)="handleFileInputChange($event)"
          #fileInput
        />
        <div class="mx-auto w-24 text-center">
          <div class="relative w-24">
            <span
              class="w-24 h-24 rounded-full absolute flex items-center justify-center"
              *ngIf="previewImg == '';else prev"
              >Upload a photo
              </span>
              <ng-template #prev>
                <img
                  class="w-24 h-24 rounded-full absolute"
                  [src]="previewImg"
                  alt="Profile image"
                />
              </ng-template>
            <button
              class="w-24 h-24 group hover:bg-gray-200 opacity-100 rounded-full absolute flex justify-center items-center cursor-pointer transition duration-500
              border shadow-md"
              (click)="triggerFileInput()"
            >
              <img
                class="hidden group-hover:block w-8 absolute"
                src="https://www.svgrepo.com/show/33565/upload.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>      
      <label for="email" class="mb-2 text-sm text-start text-grey-900"
        >Name</label
      >
      <input
        id="username"
        type="text"
        placeholder="Jhon Doe"
        class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
        formControlName="username"
      />
      <label for="email" class="mb-2 text-sm text-start text-grey-900"
        >Email</label
      >
      <input
        id="email"
        type="email"
        placeholder="mail@loopple.com"
        class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none mb-7 placeholder:text-grey-700 text-black rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
        formControlName="userMail"
      />
      <label for="password" class="mb-2 text-sm text-start text-grey-900"
        >Password</label
      >
      <input
        id="password"
        type="password"
        placeholder="Enter a password"
        class="flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none placeholder:text-grey-700 text-dark-grey-900 rounded-2xl border-2 border-gray-400 focus:border-sunsetOrange-200"
        formControlName="userPass"
      />

   
      <label for="role" class="mb-2 text-sm text-start text-grey-900"
        >Role</label
      >
      <div class="flex items-center gap-3" *ngFor="let role of roles">
        <p-radioButton
          name="userRole"
          [value]="role"          
          [inputId]="role"
          class="border border-sunsetOrange-200 rounded-full"
          formControlName="userRole"
        ></p-radioButton>
        <label
          [for]="role"
          class="text-zinc-900 text-sm font-medium self-stretch max-w-[305px]"
        >
          {{ role }}
        </label>
      </div>            
      <button
        class="w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl hover:bg-purple-blue-600 focus:ring-1 focus:ring-white bg-sunsetOrange-200"
        type="submit"
        (click)="createUser()"
      >
        Create User
      </button>     
    </form>
  
</p-dialog>

<!-- Edit User -->